@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body { margin: 0; overflow: hidden }
p { user-select: none; cursor: default }

.fullscreen { position: fixed; width: 100%; height: 100% }
.opensans-white-centered, #menu_gameover_score_text, #hud_time p, #menu_pause_score p { font-family: 'Open Sans'; color: white; text-align: center }

button {
	display: block;
	width: 256px;
	height: 48px;
	margin: 8px;
	outline: none;
	background-color: #eee;
	border: 0px;
	border-radius: 16px;
	cursor: pointer
}

button p {
	margin: 0px;
	font-family: 'Open Sans';
	color: #5788bc;
	cursor: pointer
}

/*
* HUD
*/
#hud_time {
	position: absolute;
	right: 32px;
	top: 32px;
	height: 32px;
	width: 96px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 16px
}

#hud_time p {
	margin: 0;
	margin-top: 5px
}

#hud_crosshair {
	position: absolute;
	left: calc(50% - 4px);
	top: calc(50% - 4px);
	width: 8px;
	height: 8px;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 32px
}

/*
* Leaderboard and About Elements
*/
#menu_main_content_leaderboard, #menu_main_content_about {
	width: 272px;
	height: 160px
}

#menu_main_content_leaderboard > p:first-child, #menu_main_content_about > p:first-child {
	font-family: 'Open Sans';
	color: #bbbbbb;
	margin: 8px;
	text-align: center
}

#menu_main_content_leaderboard p, #menu_main_content_about p {
	font-family: 'Open Sans';
	color: #5788bc;
	margin: 4px;
	text-align: center
}

#menu_main_content_leaderboard img {
	width: 16px;
	margin-top: 2px
}

/*
* Game Over Menu
*/
#menu_gameover {
	background-color: rgba(64, 0, 0, 0.5)
}

#menu_gameover_content {
	position: absolute;
	top: calc(50% - 128px);
	left: calc(50% - 173px);
	height: 256px;
	width: 346px
}

#menu_gameover_content img {
	width: 16px;
	margin-top: 2px;
	margin-left: 64px;
	float: left
}

#menu_gameover_score_text {
	font-size: 16px;
	margin: 0;
	margin-left: 8px
}

#menu_gameover_content button {
	width: 336px
}

#menu_gameover_text {
	margin: 0px;
	margin-left: 6px;
	font-family: 'Open Sans';
	font-size: 64px;
	color: white
}

/*
* Pause Menu
*/
#menu_pause_title {
	position: absolute;
	top: 64px;
	left: 64px;
	margin: 0;
	font-family: 'Open Sans';
	font-size: 62px;
	background-image: linear-gradient(180deg, #bbbbbb 0%, #7cbcff 70%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text
}

#menu_pause_score {
	position: absolute;
	top: 288px;
	left: 64px
}

#menu_pause_score img {
	width: 16px;
	margin-top: 2px
}

#menu_pause_score p {
	display: inline;
	float: right;
	font-size: 16px;
	margin: 0;
	margin-left: 8px
}

#menu_pause_buttons {
	position: absolute;
	top: 160px;
	left: 56px
}

#menu_pause_buttons button {
	opacity: 0.8
}

#menu_pause {
	background-color: rgba(0, 0, 0, 0.5)
}

/*
* Main Menu
*/
#menu_main {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #dddddd
}

#menu_main_title {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0px;
	margin-left: 6px;
	font-family: 'Open Sans';
	font-size: 4vw;
	line-height: 100px;
	background-image: linear-gradient(180deg, #bbbbbb 80%, #5889bd 70%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text
}

#menu_main_content {
	position: absolute;
	top: calc(50% - 53px);
	left: calc(50% - 128px);
	height: 176px
}