@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body { margin: 0; overflow: hidden }
p { user-select: none; cursor: default }

.fullscreen { position: fixed; width: 100%; height: 100% }
.opensans-white-centered, .pointerlock_text { font-family: 'Open Sans'; color: white; text-align: center }

button {
	display: block;
	width: 256px;
	height: 48px;
	margin: 8px;
	outline: none;
	background-color: #eee;
	border: 0px;
	border-radius: 16px;
	cursor: pointer
}

button p {
	margin: 0px;
	font-family: 'Open Sans';
	color: #5788bc;
	cursor: pointer
}

/*
* Leaderboard and Options Elements
*/
#menu_main_content_leaderboard, #menu_main_content_options {
	width: 272px;
	height: 160px
}

#menu_main_content_leaderboard > p:first-child, #menu_main_content_options > p:first-child {
	font-family: 'Open Sans';
	color: #bbbbbb;
	margin: 8px;
	text-align: center
}

#menu_main_content_leaderboard p, #menu_main_content_options p {
	font-family: 'Open Sans';
	color: #5788bc;
	margin: 4px;
	text-align: center
}

/*
* Pointer Lock Elements
*/
.pointerlock_text {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0px;
	font-size: 40px
}

/*
* Pause Menu
*/
#menu_pause {
	background-color: rgba(0, 0, 0, 0.5)
}

/*
* Main Menu
*/
#menu_main {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #dddddd
}

#menu_main_title {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0px;
	margin-left: 6px;
	font-family: 'Open Sans';
	font-size: 4vw;
	line-height: 100px;
	background-image: linear-gradient(180deg, #bbbbbb 80%, #5889bd 70%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text
}

#menu_main_content {
	position: absolute;
	top: calc(50% - 53px);
	left: calc(50% - 128px);
	height: 176px
}